{% extends "base.html" %} {% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  .about-section {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
  }
  .about-section h2 {
    font-size: 24px;
    color: #333;
  }
  .about-section p {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
  }
</style>

<body>
  <div class="about-section">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nam.
      Expedita libero quos labore. Ipsam aliquam, nemo quaerat expedita ab nulla
      aliquid amet quidem maiores possimus? Possimus ab aut iusto ut soluta quod
      quam sit eum cupiditate id a ea eos nesciunt ad expedita iure voluptate
      incidunt, hic optio totam? Consequuntur maiores sunt sequi. Eaque
      voluptates, unde recusandae, ea ut a dignissimos, fugiat exercitationem
      ipsam omnis fugit illo accusamus ad similique atque? Quia, blanditiis.
      Eveniet, odio! Enim, ea nemo? Deserunt, illo similique. Asperiores
      reiciendis nobis atque qui! Quod laborum ratione vero ex beatae voluptatem
      autem nemo similique, necessitatibus magni error excepturi nesciunt
      adipisci enim aliquid totam culpa unde eum alias sit earum ut suscipit?
      Unde voluptate id minima neque qui facilis odio distinctio recusandae,
      voluptas, tempore animi eligendi numquam aliquam incidunt deserunt quia
      rem ab aperiam nam ipsa at in et non. Consectetur alias neque, sit beatae
      voluptates quasi animi ex temporibus repellat ducimus soluta consequatur
      nulla. Corrupti obcaecati blanditiis, ea velit maiores assumenda repellat
      quaerat fugit distinctio quidem atque tenetur nesciunt tempora, quisquam
      animi accusamus adipisci, quas ab quibusdam omnis! Necessitatibus debitis
      illo, architecto ratione quisquam nam dolores quam blanditiis ab sapiente
      incidunt eum, tempora culpa odit nemo reiciendis.
    </p>
  </div>
  {% endblock content %}
</body>
